.tableList {
    .cellWrapper {
        display: flex;
        align-items: center;

        .image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status {
        padding: 5px;
        border-radius: 5px;

        &.Approved {
            color: rgb(0, 122, 221);
            background-color: rgba(0, 94, 170, 0.158);
        }

        &.Pending {
            color: rgb(226, 109, 0);
            background-color: rgba(209, 101, 0, 0.219);
        }
    }
}
